Source: libdqrobotics
Section: devel
Priority: optional
Maintainer: Murilo Marinho <murlou@gmail.com>
Build-Depends: cmake, libeigen3-dev
Homepage: http://dqrobotics.sourceforge.net/

Package: libdqrobotics
Architecture: any
Depends:
Description: DQ Robotics
 The dual quaternion robotics library.
