Source: libdqrobotics
Section: devel
Priority: optional
Maintainer: Murilo Marinho <murilomarinho@ieee.org>
Build-Depends: cmake, libeigen3-dev
Homepage: https://dqrobotics.github.io/

Package: libdqrobotics
Architecture: any
Depends:
Description: DQ Robotics
 The dual quaternion robotics library.
