Package: libdqrobotics
Version: 0.1.1
Architecture: all
Maintainer: Murilo Marinho
Installed-Size: 6
Depends: libeigen3-dev
Section: testing
Priority: optional
Homepage: http://dqrobotics.sourceforge.net/
Description: DQ Robotics
 The dual quaternion robotics library
